* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* ===== TOP NAVBAR ===== */
header {
    width: 100vw;
}

nav {
    float: right;
    display: flex;
    align-items: center;
    margin: 15px 30px 0 0;
}

nav div,
ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000000de;
    font-size: 1.3rem;
}

#menu-icon {
    background-color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#profile-img {
    background-color: #ccc;
    background-image: url('https://images.unsplash.com/photo-1602497676835-3f500e2ecf71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

/* ===== MAIN SECTION ===== */
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 320px;
}

#search-bar {
    min-width: 450px;
    border: 1px solid #eee;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
    padding: 10px 15px;
}

#search-bar:hover {
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.22);
}

#search-bar input {
    border: none;
    font-size: 1.4rem;
    outline: none;
    width: 80%;
}

.btn {
    color: #777;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #444;
    color: #444;
}

/* ===== FOOTER ===== */
footer {
    width: 100vw;
    font-size: 1.4rem;
}

.footer-container {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 10px 30px;
}

.footer-container p,
.footer-container a {
    color: #888888;
}

.footer-container ul li:first-child {
    margin-left: 0;
}

.footer-container:last-child {
    display: flex;
    justify-content: space-between;
}